{% extends 'base.html' %}
{% block content %}
	<h1 class="pageTitle">Recherche</h1>

	{% if query %}
		<p class="pageCaption">Recherche de mots-clés "<b>{{ form.cleaned_data.q }}</b>" :: {{ page.paginator.count }} résultats trouvés.</p>
		<h2 class="pageSubTitle">Résultat de la recherche:</h2>
		<ul class="searchResultsList">
			{% for result in page.object_list %}
			<li class="searchResultItem">
				<a href="{{ result.object.get_absolute_url }}" class="resultTitle">{{ result.object.get_title }}</a>
				<p class="resultCaption">{{ result.text|truncatewords:40 }}</p>
			</li>
			{% empty %}
			<li class="searchResultItem">
				<span class="resultTitle">No results found.</span>
			</li>
			{% endfor %}
		</ul>
		{% if page.has_previous or page.has_next %}
			<div>
				{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
				|
				{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
			</div>
		{% endif %}
	{% else %}
		{# Show some example queries to run, maybe query syntax, something else? #}
	{% endif %}

	<form class="mainSearchBlock" method="get" action=".">
		<h2 class="pageSubTitle">Rechercher de nouveau</h2>
		<br />
		<div class="searchForm">
			{{ form }}
			<input class="searchSubmit" type="submit" value="Recherche">
		</div>
	</form>
{% endblock %}