{% load i18n %}
{% load menu_tags %}
<ul class="icon-list">
	{% for lang in LANGUAGES %}
	<li class="icon-item {% if request.LANGUAGE_CODE == lang.0 %}active{% endif %}">
		<a href="{% page_language_url lang.0 %}" class="flag" title="{{ lang.1 }}">
			<img src="/static/images/flags/{{ lang.0 }}-icon.png" alt="{{ lang.1 }}">
		</a>
	</li>
	{% endfor %}
</ul>