{% load i18n %}
{% load thumbnail %}
<ul class="topic-list">
{% for topic in instance %}
	<li class="topic-item fLeft">
		<div class="header">{{ topic.title }}</div>
		<a {% if topic.url %} href="{{ topic.url }}" {% endif %} class="cover">
			<img src="{{ topic.image.url|thumbnail_url:'s300' }}" alt="">
			{% if topic.url %}
			<span class="pointer noTxt">&gt;</span>
			{% endif %}
		</a>
		{% if topic.description %}
		<p>{{ topic.description }}</p>
		{% endif %}
	</li>
{% endfor %}
</ul>